<hr>

<a id="ref3"></a>

# Collaborative Filtering

Now, time to start our work on recommendation systems. 

The first technique we're going to take a look at is called **Collaborative Filtering**, which is also known as **User-User Filtering**. As hinted by its alternate name, this technique uses other users to recommend items to the input user. It attempts to find users that have similar preferences and opinions as the input and then recommends items that they have liked to the input. There are several methods of finding similar users (Even some making use of Machine Learning), and the one we will be using here is going to be based on the **Pearson Correlation Function**.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-ML0101EN-SkillsNetwork/labs/Module%205/images/User_Item.png" width=800px>

The process for creating a User Based recommendation system is as follows:

-   Select a user with the movies the user has watched
-   Based on his rating to movies, find the top X neighbours 
-   Get the watched movie record of the user for each neighbour.
-   Calculate a similarity score using some formula
-   Recommend the items with the highest score

In [9]:

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [10]:
#Dataframe manipulation library
import pandas as pd
#Math functions, we'll only need the sqrt function so let's import only that
from math import sqrt
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

# Read Data

In [11]:
#Storing the movie information into a pandas dataframe
movies_df = pd.read_csv("../data/movies.csv",encoding='latin-1')
#Storing the user information into a pandas dataframe
ratings_df = pd.read_csv("../data/ratings.csv",encoding='latin-1')

In [12]:
#Head is a function that gets the first N rows of a dataframe. N's default is 5.
movies_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

# Preprocess Data

So each movie has a unique ID, a title with its release year along with it (Which may contain unicode characters) and several different genres in the same field. Let's remove the year from the title column and place it into its own one by using the handy [extract](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.str.extract.html#pandas.Series.str.extract?cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-ML0101EN-SkillsNetwork-20718538&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-ML0101EN-SkillsNetwork-20718538&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ) function that Pandas has.

Let's remove the year from the **title** column by using pandas' replace function and store in a new **year** column.

In [13]:
#Using regular expressions to find a year stored between parentheses
#We specify the parantheses so we don't conflict with movies that have years in their titles
movies_df['year'] = movies_df.title.str.extract('(\(\d\d\d\d\))',expand=False)
#Removing the parentheses
movies_df['year'] = movies_df.year.str.extract('(\d\d\d\d)',expand=False)
#Removing the years from the 'title' column
movies_df['title'] = movies_df.title.str.replace('(\(\d\d\d\d\))', '')
#Applying the strip function to get rid of any ending whitespace characters that may have appeared
movies_df['title'] = movies_df['title'].apply(lambda x: x.strip())

/var/folders/dq/rylwkp714dzg82c37q1l48_w0000gn/T/ipykernel_78558/2727439841.py:7: FutureWarning: The default value of regex will change from True to False in a future version.
  movies_df['title'] = movies_df.title.str.replace('(\(\d\d\d\d\))', '')

In [14]:
movies_df.head()

,movieId,title,genres,year
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji,Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men,Comedy|Romance,1995
3,4,Waiting to Exhale,Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II,Comedy,1995

With that, let's also drop the genres column since we won't need it for this particular recommendation system.

In [15]:
#Dropping the genres column
movies_df = movies_df.drop('genres', 1)

/var/folders/dq/rylwkp714dzg82c37q1l48_w0000gn/T/ipykernel_78558/37422046.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  movies_df = movies_df.drop('genres', 1)

Here's the final movies dataframe:

In [16]:
movies_df.head()

   movieId                        title  year
0        1                    Toy Story  1995
1        2                      Jumanji  1995
2        3             Grumpier Old Men  1995
3        4            Waiting to Exhale  1995
4        5  Father of the Bride Part II  1995

In [17]:
ratings_df.head()

   userId  movieId  rating   timestamp
0   12882        1     4.0  1147195252
1   12882       32     3.5  1147195307
2   12882       47     5.0  1147195343
3   12882       50     5.0  1147185499
4   12882      110     4.5  1147195239

Every row in the ratings dataframe has a user id associated with at least one movie, a rating and a timestamp showing when they reviewed it. We won't be needing the timestamp column, so let's drop it to save on memory.

In [18]:
#Drop removes a specified row or column from a dataframe
ratings_df = ratings_df.drop('timestamp', 1)

/var/folders/dq/rylwkp714dzg82c37q1l48_w0000gn/T/ipykernel_78558/1971122656.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  ratings_df = ratings_df.drop('timestamp', 1)

Here's how the final ratings Dataframe looks like:

In [19]:
ratings_df.head()

   userId  movieId  rating
0   12882        1     4.0
1   12882       32     3.5
2   12882       47     5.0
3   12882       50     5.0
4   12882      110     4.5

Let's begin by creating an input user to recommend movies to:

Notice: To add more movies, simply increase the amount of elements in the userInput. Feel free to add more in! Just be sure to write it in with capital letters and if a movie starts with a "The", like "The Matrix" then write it in like this: 'Matrix, The' .

# Test User

In [20]:
userInput = [
            {'title':'Breakfast Club, The', 'rating':5},
            {'title':'Toy Story', 'rating':3.5},
            {'title':'Jumanji', 'rating':2},
            {'title':"Pulp Fiction", 'rating':5},
            {'title':'Akira', 'rating':4.5}
         ] 
inputMovies = pd.DataFrame(userInput)
inputMovies

                 title  rating
0  Breakfast Club, The     5.0
1            Toy Story     3.5
2              Jumanji     2.0
3         Pulp Fiction     5.0
4                Akira     4.5

#### Add movieId to input user

With the input complete, let's extract the input movies's ID's from the movies dataframe and add them into it.

We can achieve this by first filtering out the rows that contain the input movies' title and then merging this subset with the input dataframe. We also drop unnecessary columns for the input to save memory space.

In [21]:
#Filtering out the movies by title
inputId = movies_df[movies_df['title'].isin(inputMovies['title'].tolist())]
#Then merging it so we can get the movieId. It's implicitly merging it by title.
inputMovies = pd.merge(inputId, inputMovies)
#Dropping information we won't use from the input dataframe
inputMovies = inputMovies.drop('year', 1)
#Final input dataframe
#If a movie you added in above isn't here, then it might not be in the original 
#dataframe or it might spelled differently, please check capitalisation.
inputMovies

/var/folders/dq/rylwkp714dzg82c37q1l48_w0000gn/T/ipykernel_78558/2035672847.py:6: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  inputMovies = inputMovies.drop('year', 1)

   movieId                title  rating
0        1            Toy Story     3.5
1        2              Jumanji     2.0
2      296         Pulp Fiction     5.0
3     1274                Akira     4.5
4     1968  Breakfast Club, The     5.0

#### The users who has seen the same movies

Now with the movie ID's in our input, we can now get the subset of users that have watched and reviewed the movies in our input.

In [22]:
#Filtering out users that have watched movies that the input has watched and storing it
userSubset = ratings_df[ratings_df['movieId'].isin(inputMovies['movieId'].tolist())]
userSubset.head()

     userId  movieId  rating
0     12882        1     4.0
9     12882      296     5.0
109     320      296     4.5
168  121987        1     4.5
268   62046      296     4.5

We now group up the rows by user ID.

In [23]:
#Groupby creates several sub dataframes where they all have the same value in the column specified as the parameter
userSubsetGroup = userSubset.groupby(['userId'])

lets look at one of the users, e.g. the one with userID=1130

In [26]:
userSubsetGroup.get_group(320)

     userId  movieId  rating
109     320      296     4.5

Let's also sort these groups so the users that share the most movies in common with the input have higher priority. This provides a richer recommendation since we won't go through every single user.

In [27]:
#Sorting it so users with movie most in common with the input will have priority
userSubsetGroup = sorted(userSubsetGroup,  key=lambda x: len(x[1]), reverse=True)

In [28]:
userSubsetGroup[0:3]

[(2988,
          userId  movieId  rating
  241710    2988        1     3.0
  241711    2988        2     2.5
  241744    2988      296     5.0
  241862    2988     1274     2.5
  241919    2988     1968     5.0),
 (10387,
         userId  movieId  rating
  37471   10387        1     4.0
  37472   10387        2     3.5
  37497   10387      296     5.0
  37587   10387     1274     4.5
  37631   10387     1968     4.5),
 (10514,
          userId  movieId  rating
  231038   10514        1     4.0
  231039   10514        2     3.0
  231088   10514      296     5.0
  231255   10514     1274     3.5
  231345   10514     1968     4.0)]

# Find Similar Users

#### Similarity of users to input user

Next, we are going to compare all users (not really all !!!) to our specified user and find the one that is most similar.  
we're going to find out how similar each user is to the input through the **Pearson Correlation Coefficient**. It is used to measure the strength of a linear association between two variables. The formula for finding this coefficient between sets X and Y with N values can be seen in the image below. 

Why Pearson Correlation?

Pearson correlation is invariant to scaling, i.e. multiplying all elements by a nonzero constant or adding any constant to all elements. For example, if you have two vectors X and Y,then, pearson(X, Y) == pearson(X, 2 * Y + 3). This is a pretty important property in recommendation systems because for example two users might rate two series of items totally different in terms of absolute rates, but they would be similar users (i.e. with similar ideas) with similar rates in various scales .

![alt text](https://wikimedia.org/api/rest_v1/media/math/render/svg/bd1ccc2979b0fd1c1aec96e386f686ae874f9ec0 "Pearson Correlation")

The values given by the formula vary from r = -1 to r = 1, where 1 forms a direct correlation between the two entities (it means a perfect positive correlation) and -1 forms a perfect negative correlation. 

In our case, a 1 means that the two users have similar tastes while a -1 means the opposite.

We will select a subset of users to iterate through. This limit is imposed because we don't want to waste too much time going through every single user.

In [29]:
userSubsetGroup = userSubsetGroup[0:100]

Now, we calculate the Pearson Correlation between input user and subset group, and store it in a dictionary, where the key is the user Id and the value is the coefficient

In [30]:
#Store the Pearson Correlation in a dictionary, where the key is the user Id and the value is the coefficient
pearsonCorrelationDict = {}

#For every user group in our subset
for name, group in userSubsetGroup:
    #Let's start by sorting the input and current user group so the values aren't mixed up later on
    group = group.sort_values(by='movieId')
    inputMovies = inputMovies.sort_values(by='movieId')
    #Get the N for the formula
    nRatings = len(group)
    #Get the review scores for the movies that they both have in common
    temp_df = inputMovies[inputMovies['movieId'].isin(group['movieId'].tolist())]
    #And then store them in a temporary buffer variable in a list format to facilitate future calculations
    tempRatingList = temp_df['rating'].tolist()
    #Let's also put the current user group reviews in a list format
    tempGroupList = group['rating'].tolist()
    #Now let's calculate the pearson correlation between two users, so called, x and y
    Sxx = sum([i**2 for i in tempRatingList]) - pow(sum(tempRatingList),2)/float(nRatings)
    Syy = sum([i**2 for i in tempGroupList]) - pow(sum(tempGroupList),2)/float(nRatings)
    Sxy = sum( i*j for i, j in zip(tempRatingList, tempGroupList)) - sum(tempRatingList)*sum(tempGroupList)/float(nRatings)
    
    #If the denominator is different than zero, then divide, else, 0 correlation.
    if Sxx != 0 and Syy != 0:
        pearsonCorrelationDict[name] = Sxy/sqrt(Sxx*Syy)
    else:
        pearsonCorrelationDict[name] = 0

In [31]:
pearsonCorrelationDict.items()

dict_items([(2988, 0.7197795937681559), (10387, 0.9460287597114506), (10514, 0.727218092353424), (12271, 0.8594395636904102), (12778, 0.20391184757154632), (18390, 0.8770580193070299), (23171, 0.3440104580768911), (24112, 0.804843636585534), (25411, 0.4902903378454601), (34494, 0.35805743701971815), (34587, 0.968581275964845), (35227, 0.657793514480273), (36628, -0.16984155512168936), (40768, 0.8770580193070299), (41941, 0.34633002829842735), (42096, 0.36184651012596986), (45015, 0.5765566601970551), (45461, 0.9024852563942795), (48410, 0.21926450482675722), (48821, 0.8770580193070289), (53413, 0.537086155529574), (58346, 0.877058019307029), (58612, 0.554700196225229), (62805, 0.45124262819713973), (68558, 0.4728779924109591), (75438, 0.9866902717204096), (76164, 0.17902871850985827), (77512, -0.6577935144802716), (84752, 0.11720180773462363), (86768, 0.905206050195776), (96370, 0.11720180773462392), (96482, 0.9434563530497265), (97953, 0.0), (102532, 0.05860090386731196), (103872, 0.803969851031444), (104037, 0.3440104580768906), (114601, 0.6446099425404316), (117918, 0.7608720536668977), (120067, -0.4385290096535153), (124683, 0.5266563052934291), (131630, 0.8600261451922278), (134181, 0.29417420270727607), (135418, 0.24019223070763068), (359, -0.408248290463863), (370, 1.0), (1741, -0.5222329678670935), (2024, 0.8728715609439696), (3076, -0.47140452079103173), (4347, 0), (4629, 0.674199862463242), (5063, 0.30662207033593325), (5475, 0.4082482904638631), (7723, -0.0890870806374748), (8932, -0.2721655269759087), (10164, -0.9428090415820635), (12288, 0.7237468644557459), (12649, 0.9534625892455922), (13565, 0.7385489458759964), (13700, 0.8861418804606043), (16883, 0.9307578419910345), (17022, 0.45454545454545453), (17318, 0.9045340337332909), (18758, 0.47140452079103173), (18877, 0.7816608327818948), (21280, 0.5222329678670935), (21391, 0.5222329678670935), (21860, 0.25031308716087947), (22377, -0.3333333333333333), (23433, 0.9045340337332908), (24884, 0.8181818181818182), (25268, -0.385694607919935), (26222, 0.7458152383799166), (26480, 0.9045340337332909), (27898, 0.8819171036881969), (28340, 0.8703882797784892), (31273, -0.09090909090909091), (31321, 0.5222329678670935), (31921, -0.6534196381862065), (38159, 0.9198662110077999), (38605, 0.6363636363636364), (39214, -0.8703882797784892), (39271, 0.5222329678670935), (41613, 0.8728715609439696), (42290, 0.20998026278290402), (42367, 0.6666666666666666), (42399, -0.09090909090909091), (43599, 0.40451991747794525), (44086, -0.769800358919501), (45619, -0.2508726030021272), (46645, 0.8553372034476997), (47150, 0.058025885318565944), (47566, 0.629940788348712), (47866, 0.12104550653376049), (47953, 0.3450327796711771), (48838, -0.5222329678670935), (50898, 0.7715167498104595), (52004, -0.5606119105813882), (52520, 0.1654758480803738), (52762, 0.5222329678670935), (53113, -0.13483997249264842)])

In [32]:
pearsonDF = pd.DataFrame.from_dict(pearsonCorrelationDict, orient='index')
pearsonDF.columns = ['similarityIndex']
pearsonDF['userId'] = pearsonDF.index
pearsonDF.index = range(len(pearsonDF))
pearsonDF.head()

   similarityIndex  userId
0         0.719780    2988
1         0.946029   10387
2         0.727218   10514
3         0.859440   12271
4         0.203912   12778

#### The top x similar users to input user

Now let's get the top 50 users that are most similar to the input.

In [33]:
topUsers=pearsonDF.sort_values(by='similarityIndex', ascending=False)[0:50]
topUsers.head()

    similarityIndex  userId
44         1.000000     370
25         0.986690   75438
10         0.968581   34587
56         0.953463   12649
1          0.946029   10387

Now, let's start recommending movies to the input user.

#### Rating of selected users to all movies

We're going to do this by taking the weighted average of the ratings of the movies using the Pearson Correlation as the weight. But to do this, we first need to get the movies watched by the users in our **pearsonDF** from the ratings dataframe and then store their correlation in a new column called _similarityIndex". This is achieved below by merging of these two tables.

# Recommend Movies

In [34]:
topUsersRating=topUsers.merge(ratings_df, left_on='userId', right_on='userId', how='inner')
topUsersRating.head()

   similarityIndex  userId  movieId  rating
0              1.0     370        1     4.5
1              1.0     370        2     4.0
2              1.0     370        6     5.0
3              1.0     370       25     4.5
4              1.0     370       32     5.0

Now all we need to do is simply multiply the movie rating by its weight (The similarity index), then sum up the new ratings and divide it by the sum of the weights.

We can easily do this by simply multiplying two columns, then grouping up the dataframe by movieId and then dividing two columns:

It shows the idea of all similar users to candidate movies for the input user:

In [35]:
#Multiplies the similarity by the user's ratings
topUsersRating['weightedRating'] = topUsersRating['similarityIndex']*topUsersRating['rating']
topUsersRating.head()

   similarityIndex  userId  movieId  rating  weightedRating
0              1.0     370        1     4.5             4.5
1              1.0     370        2     4.0             4.0
2              1.0     370        6     5.0             5.0
3              1.0     370       25     4.5             4.5
4              1.0     370       32     5.0             5.0

In [36]:
#Applies a sum to the topUsers after grouping it up by userId
tempTopUsersRating = topUsersRating.groupby('movieId').sum()[['similarityIndex','weightedRating']]
tempTopUsersRating.columns = ['sum_similarityIndex','sum_weightedRating']
tempTopUsersRating.head()

         sum_similarityIndex  sum_weightedRating
movieId
1                  38.408840          144.131161
2                  38.560355          108.815918
3                   9.992688           31.514031
4                   2.033742            4.485942
5                   9.641658           25.625686

In [37]:
#Creates an empty dataframe
recommendation_df = pd.DataFrame()
#Now we take the weighted average
recommendation_df['weighted average recommendation score'] = tempTopUsersRating['sum_weightedRating']/tempTopUsersRating['sum_similarityIndex']
recommendation_df['movieId'] = tempTopUsersRating.index
recommendation_df.head()

         weighted average recommendation score  movieId
movieId
1                                     3.752552        1
2                                     2.821964        2
3                                     3.153709        3
4                                     2.205758        4
5                                     2.657809        5

Now let's sort it and see the top 20 movies that the algorithm recommended!

In [38]:
recommendation_df = recommendation_df.sort_values(by='weighted average recommendation score', ascending=False)
recommendation_df.head(10)

         weighted average recommendation score  movieId
movieId
334                                   5.000000      334
213                                   5.000000      213
8207                                  5.000000     8207
971                                   4.832797      971
3067                                  4.805719     3067
3819                                  4.717768     3819
1243                                  4.657793     1243
3260                                  4.595046     3260
2303                                  4.589916     2303
1949                                  4.578688     1949

In [39]:
movies_df.loc[movies_df['movieId'].isin(recommendation_df.head(10)['movieId'].tolist())]

      movieId                                              title  year
128       213            Burnt by the Sun (Utomlyonnye solntsem)  1994
198       334                               Vanya on 42nd Street  1994
478       971                              Cat on a Hot Tin Roof  1958
627      1243              Rosencrantz and Guildenstern Are Dead  1990
912      1949                             Man for All Seasons, A  1966
1081     2303                                          Nashville  1975
1397     3067  Women on the Verge of a Nervous Breakdown (Muj...  1988
1468     3260                                        Howards End  1992
1637     3819                                            Tampopo  1985
2119     8207                             Day of the Jackal, The  1973

### Advantages and Disadvantages of Collaborative Filtering

##### Advantages

-   Takes other user's ratings into consideration
-   Doesn't need to study or extract information from the recommended item
-   Adapts to the user's interests which might change over time

##### Disadvantages

-   Approximation function can be slow
-   There might be a low of amount of users to approximate
-   Privacy issues when trying to learn the user's preferences